body {
    background-color: #272727;
}

#container {
    position: relative;
    border: red 1px solid;
    width: calc(100% - 210px);
    height: 98dvh;
    left: 28px;
    z-index: 2;
}

@media screen and (min-width: 1920px) {
    #container {
        position: relative;
        width: 79.2dw;
        height: 98dvh;
        left: 28px;
        z-index: 2;
    }
}