* {
    transition: 280ms;
}

#repo_list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-top: 20px;
}

.repo {
    position: relative;
    width: 97%;
    height: 80px;
    /* Makes a linear gradient from #323232 to #3a3a3a */
    background: linear-gradient(90deg, #323232, #424242);
    border: 2px solid #3a3a3a;
    border-radius: 20px;
    padding: 5px;
    color: white;
    font-family: Arial, sans-serif;
    margin-bottom: 10px;
    box-shadow: 5px -5px 0px 0px #1c1c1c;
    cursor: pointer;
}
.repo_title {
    position: relative;
    text-align: left;
    color: #4ba7f8;
    top: -20px;
    left: 5px;
}
.desc_container {
    position: relative;
    max-width: 50%;
    top: -35px;
    left: 5px;
}
.repo_desc {
    position: relative;
    text-align: left;
    color: #9198a1;
    font-size: 18px;
    padding: 5px;
}

/* On hovering over a repo, make it brighten up */
.repo:hover {
    background: #3a3a3a;
    padding: 10px;
}

#no-repos {
    width: 100%;
    color: white;
    display: none;
}

#no-repos-title, #no-repos-msg {
    text-align: center;
    font-family: Arial, sans-serif;
}

#make_first_repo_btn {
    position: relative;
    background-color: #3e3e3e;
    color: white;
    border: 2px solid #272727;
    border-radius: 20px;
    padding: 10px;
    font-family: Arial, sans-serif;
    margin-top: 20px;
    left: 50%;
    transform: translateX(-50%);
    cursor: pointer;
}

#create_repo_title {
    position: relative;
    top: -15px;
    color: white;
}
#create_repo_form_container {
    position: absolute;
    /* Center */
    left: 50%;
    top: 40%;
    transform: translate(-50%, -50%);

    /* Sizing */
    width: 37%;
    max-width: 800px;
    height: fit-content;

    z-index: 3;
    padding: 10px;

    /* Background */
    background-color: #575757;
    border: 2px solid #3e3e3e;
    border-radius: 20px;
}

#repo_name_input, #repo_desc_input {
    width: 50%;
    height: 10px;
    border: 2px solid #3e3e3e;
    border-radius: 10px;
    padding: 5px;
    font-family: Arial, sans-serif;
    margin-bottom: 10px;
    /* Align items middle */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#create_repo_btn {
    position: relative;
    background-color: #3e3e3e;
    color: white;
    border: 2px solid #272727;
    border-radius: 20px;
    padding: 10px;
    font-family: Arial, sans-serif;
    margin-top: 20px;
    cursor: pointer;
}

#repo_priv_input { /* Private repo dropdown menu */
    width: 20%;
    min-width: 25px;
    height: 30px;
    border: 2px solid #3e3e3e;
    border-radius: 10px;
    padding: 5px;
    font-family: Arial, sans-serif;
    margin-bottom: 10px;
}

.repo_server {
    /* Positioning */
    position: relative;
    float: right;
    left: 10px;
    top: -122px;

    /* Background */
    background-color: #00a708;
    border: 2px solid black;
    cursor: pointer;
    
    /* Size */
    width: 7%;
    height: 84px;
    padding: 5px;
    border-radius: 20px;
}