#file_explorer {
    width: calc(95% - 20px);
    min-height: 400px;
    height: fit-content;
    background-color: #393939;
    border-top: 10px solid #4c4c4c;
    border-right: 10px solid #4c4c4c;
    border-left: 10px solid #4c4c4c;

    /* Aligns the file explorer to the center */
    margin: 0 auto;
}

#file_explorer_ribbon {
    position: relative;
    width: 95%;
    height: 50px;
    top: -10px;
    z-index: 2;
    background-color: #616161;
    border-radius: 0 0 10px 10px;

    /* Aligns the file explorer to the center */
    margin: 0 auto;
}

#files_container {
    width: 97.5%;
    height: 365px;
    overflow-y: auto;
    margin: 10px;

    /* Aligns all items vertically */
    display: flex;
    flex-direction: column;
}

.file, .folder {
    position: relative;
    width: 95%;
    height: 40px;
    color: silver;
    left: 40px;
    font-size: 18px;
    margin-bottom: 5px;
}
.file_svg {
    position: absolute;
    top: 0px;
    left: -40px;
    width: 25px;
    height: 25px;
    background: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="white" class="size-6"><path stroke-linecap="round" stroke-linejoin="round" d="M19.5 14.25v-2.625a3.375 3.375 0 0 0-3.375-3.375h-1.5A1.125 1.125 0 0 1 13.5 7.125v-1.5a3.375 3.375 0 0 0-3.375-3.375H8.25m2.25 0H5.625c-.621 0-1.125.504-1.125 1.125v17.25c0 .621.504 1.125 1.125 1.125h12.75c.621 0 1.125-.504 1.125-1.125V11.25a9 9 0 0 0-9-9Z"/></svg>') no-repeat center center;
}
.folder_svg {
    position: absolute;
    top: 0px;
    left: -40px;
    width: 32px;
    height: 32px;
    background: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" fill="white" viewBox="0 0 24 24" stroke-width="1.5" stroke="white" class="size-6"><path stroke-linecap="round" stroke-linejoin="round" d="M1.75 1A1.75 1.75 0 0 0 0 2.75v10.5C0 14.216.784 15 1.75 15h12.5A1.75 1.75 0 0 0 16 13.25v-8.5A1.75 1.75 0 0 0 14.25 3H7.5a.25.25 0 0 1-.2-.1l-.9-1.2C6.07 1.26 5.55 1 5 1H1.75Z"/></svg>') no-repeat center center;
}

.last_modified {
    position: relative;
    float: right;
    top: -20px;
}

.FER_button {
    position: relative;
    top: 8px;
    width: 100px;
    height: 35px;
    color: silver;

    /* Aligns the button to the center */
    left: calc(50% - 100px);

    font-size: 18px;
    background-color: #616161;
    border-radius: 5px;
    cursor: pointer;
}

#ver_sel_label {
    position: absolute;
    top: 1px;
    left: 21px;
    color: silver;
}

#version_selector {
    position: absolute;

    top: 20px;
    left: 20px;

    width: 75px;
    height: 15px;

    border-radius: 20px;
    background-color: #1c1c1c;
    color: white;
    text-align: center;

    cursor: pointer;
}

#repo_name {
    text-align: center;
    color: silver;
}