<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Raindrop Hub</title>
    <link rel="icon" href="../assets/img/icon.png">
    <link rel="stylesheet" href="../assets/css/repository.css">
    <link rel="stylesheet" href="../assets/css/container.css">
    <link rel="stylesheet" href="../assets/css/left_sidebar.css">
    <link rel="stylesheet" href="../assets/css/right_sidebar.css">
</head>
<body>
<div id="sidebar_left">
    <script src="../assets/javascript/goto_location.js"></script>
    <img src="../assets/img/icon.png" alt="logo" id="team_logo">
    <h1 id="panel_title">Interaction panel</h1>
    <div id="status_detector">
        <span id="status_text">Pending</span>
    </div>
    <hr>
    <nav id="nav">
        <!-- Makes all the tabs per <a> tag -->
        <a id="nav_profile" href="javascript:goto_profile_href()" class="nav-link">Profile</a>
        <a id="nav_index" href="javascript:goto_index_href()" class="nav-link">Hub</a>
        <a id="nav_repos" href="javascript:goto_repositories_href()" class="nav-link">Repositories</a>
        <a id="nav_versioning" href="../index.html" class="nav-link">Versioning</a>
        <a id="nav_usermanage" href="../userman.html" class="nav-link">Manage</a>
        <script src="../assets/javascript/sidebar.js"></script>
    </nav>
</div>
<div id="container">
    <div id="file_explorer">
        <div id="files_container">
            <!-- Adds a test item to the file explorer -->
            <a class="folder">
                data
                <div class="folder_svg"></div>
            </a>
            <a class="file">
                main.py
                <div class="file_svg"></div>
            </a>
        </div>
    </div>
    <div id="file_explorer_ribbon">
        <label id="ver_sel_label" for="version_selector" title="The selected version, defaults to latest">{{version}}</label>
        <input type="text" id="version_selector" placeholder="version" title="Enter the version number here to switch to it">
        <button class="FER_button" id="push_button">Push</button>
        <button class="FER_button" id="pull_button">Pull</button>
        <h1 id="repo_name">{{repo_name}}</h1>
    </div>
</div>
<div id="sidebar_right">
</div>
<script src="../assets/javascript/pull.js"></script>
</body>
</html>